// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

/* ***************
   * Icons aside *
   *************** */

#aside-icons {
    text-align: center;
    white-space: nowrap;
    font-size: 1.1em;
    a, span {
        text-decoration: none;
        white-space: nowrap;
    }
}

img.external {
    border: none;
    box-shadow: none;
    border-radius: 0;
}

table.dataframe {
    border: 1px solid;
    margin-bottom: 1.5em;
    background-color: white;

    tr, th, td {
        border: 1px solid;
        margin: 1em 2em;
        padding: 0.25em 0.5em;
    }
}
